body {
  font-family: sans-serif;
}

header {
  padding: 1rem;
  text-align: center;
  background-color: #F72585;
  color: white;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
}
.burger-icon {
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
}

.closeIcon {
  display: none;
}

.navbar {
  display: none;
  font-size: 1.2rem;
  margin: auto;
}

.shownav {
  display: block;
}

.navbar > * {
  padding: .5rem;
}

.navbar__links {
  text-decoration-line: none;
  color: white;
}

.navbar__links:visited {
  color: white;
}

main {
  margin-top: 6rem;
}

#introduction, #about, #journey, #projects, #links {
  scroll-margin-top: 6rem;
}

.section {
  padding: 1rem 0 2rem 0;
}

.section > * {
  width: 70%;
  margin: auto;
}

.section-title {
  font-size: 2rem;
  margin: 1.5rem auto;
  text-align: center;
}

.section:nth-child(odd) {
  background-color: #3A0CA3;
  color: white;
}

.section:nth-child(even) {
  background-color: #4CC9F0;
}

.section:first-child {
  background-color: white;
  color: black;
}

.introduction {
  padding: 2rem 0 2rem 0;
}

.name {
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
}

.photo {
  width: 70%;
  display: block;
  margin: 1rem auto 1rem auto;
  border-radius: 50%;
}

.job {
  text-align: center;
  font-size: 2rem;
}

.job__title {
  margin: 1rem;
}

.job__resume {
  border-radius: 4px;
  background-color: #3A0CA3;
  border: none;
  color: white;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
}

.job__resume:hover {
  background-color: #4CC9F0;
}

.journey__card {
  width: 80%;
  padding: 1rem;
  background-color: #F72585;
  border-radius: 10px;
  margin: 1rem auto;
}

.journey__title {
  font-size: 1.2rem;
  padding-bottom: .5rem;
  font-weight: bold;
}

.projects__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.projects__card {
  width: 90%;
  height: fit-content;
  margin: auto;
  border: #7209B7 1px solid;
  border-radius: 4px;
  background-color: #7209B7;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.projects__title {
  padding: .5rem;
}

.projects__illustration {
  width: 100%;
}

.projects__description {
  margin: 1.5rem auto;
  text-align: justify;
}

.links__elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links__item {
  text-decoration-line: none;
  color: white;
  font-size: 5rem;
  margin: 1rem;
}

/* Media queries ! */

@media (min-width: 1000px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  .burger-icon {
    display: none;
  }
  
  .navbar {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
  }

  main {
    margin-top: 4.1rem;
  }

  .section  > * {
    width: 50%;
  }

  #introduction, #about, #journey, #projects, #links {
    scroll-margin-top: 4.1rem;
  }

  .introduction__content {
    display: grid;
    grid-template-columns: 2fr .5fr 3fr;
    grid-template-rows: 1fr 2fr;
    margin: auto;
    padding: 1rem 0 1rem 0;
  }

  .photo {
    order: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    order: 1;  }

  .name {
    order: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 4rem;
    margin-top: 2rem;
    padding: 0;
    text-align: left;
    text-align: center;
  }

  .job {
    order: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 1.7rem;
    text-align: left;
    margin: 0;
    text-align: center;
  }

  .about__content {
    text-align: justify;
  }

  .journey__content {
    display: flex;
    flex-direction: column;
  }

  .journey__card:nth-child(even) {
    align-self: flex-end;
  }

  .journey__card {
    width: 40%;
    margin: 1rem 0;
  }

  .projects__item {
    display: flex;
    flex-direction: row;
  }

  .projects__item:nth-child(even) .projects__description {
    order: -1;
  }

  .projects__description {
    width: 50%;
    margin: 1.5rem;
  }
  
  .projects__card {
    width: 50%;
    margin: 1.5rem;
  }

  .links__elements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
}